
<div class="panel panel-default">

  <div class="panel-heading">
    <span class="glyphicon glyphicon-calendar"></span> New Event

    <a href="/events" class="close pull-right">&times;</a>

  </div>

  <div class="panel-body">
  <form class="form-horizontal" id="event-form" action="/account/events/new" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrf}}" />
    <div class="form-group">
      <label class="col-sm-3 control-label" for="title">
        Title *
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="title" id="title" placeholder="Event Title" required="" autofocus />
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label" for="desc">Details *</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="4" name="desc" id="desc" placeholder="" required=""></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="date">Date *</label>
      <div class="col-sm-7">
          <div class='input-group date' id='dateDiv'>
            <input class="form-control" type="text" name="date" id="date" required="">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="start_time"></label>
      <div class="col-sm-7">
          <div class='col-sm-5'>
            <div class="form-group">

              <label class="control-label" for="start_time">Starting Time *</label>

              <div class='input-group date' id='startTimeDiv'>
                <input class="form-control" type="text" name="start_time" id="start_time" required="">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
          </div>

          <div class='col-sm-offset-2 col-sm-5'>
            <div class="form-group">

              <label class="control-label" for="finish_time">Finishing Time</label>

              <div class='input-group date' id='finishTimeDiv'>
                <input class="form-control" type="text" name="finish_time" id="finish_time" >
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
          </div>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="email">
        Contact Email *
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="email" id="email" placeholder="Email Address" value="" required="" />
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="number">
        Contact Number
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="number" id="number" placeholder="Contact Number" />
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="webpage">
        Event Website
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="webpage" id="webpage" placeholder="Url" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="geocomplete">Location *</label>
      <div class="col-sm-7">
        <input class="form-control" type="text" name="geocomplete" id="geocomplete" placeholder="" required="">
        
        <div id="googlemap" style="height:255px; width: 100%">
        </div>
      </div>
    </div>

    <input type="hidden" name="administrative_area_level_1" />
    <input type="hidden" name="url" />
    <input type="hidden" name="lat" />
    <input type="hidden" name="lng" />
    <input type="hidden" name="locality" />
    <input type="hidden" name="sublocality" />
    <input type="hidden" name="formatted_address" />

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button class="btn btn-success" type="submit">
          <i class="fa fa-check"></i> Create Event
        </button>

        <a href="/events" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </a>
      </div>
    </div>
  </form>
  </div>
</div>
