

{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


{{> leftsidebar}}

<div class="col-sm-9 blog-main">

  {{> flash}}


  <div class="container-fluid admin-tiles">
    <div class="row" style="margin-top:5px; text-align:center">
      <div class="col-sm-6 col-md-6">
        <a href="/admin/account" class="thumbnail">
          <span class="glyphicon glyphicon-user"></span>
          Account
        </a>       
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="/admin/events" class="thumbnail">
          <span class="glyphicon glyphicon-calendar"></span>
          Events
        </a>         
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="/admin/meetups" class="thumbnail">
          <span class="glyphicon glyphicon-map-marker"></span>
          Meetups
        </a>         
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="/admin/blog" class="thumbnail">
          <span class="glyphicon glyphicon-list-alt"></span>
          Blog
        </a>         
      </div>
    </div>
    {{#ifCond user.role.name '==' 'Super Administrator'}}
    <div class="row" style="margin-top:5px; text-align:center">
      <div class="col-sm-6 col-md-6">
        <a href="/admin/users" class="thumbnail">
          <span class="glyphicon glyphicon-user"></span>
          Users
        </a>         
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="/admin/menus" class="thumbnail">
          <span class="glyphicon glyphicon-folder-open"></span>
          Menus
        </a>       
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="/admin/links" class="thumbnail">
          <span class="glyphicon glyphicon-link"></span>
          Links
        </a>         
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="/admin/routes" class="thumbnail">
          <span class="glyphicon glyphicon-road"></span>
          Routes
        </a>         
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="/admin/settings" class="thumbnail">
          <span class="glyphicon glyphicon-wrench"></span>
          Settings
        </a>         
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="/admin/widgets" class="thumbnail">
          <span class="glyphicon glyphicon-folder-close"></span>
          Widgets
        </a>         
      </div>
    </div>
    {{/ifCond}}
  </div>
</div>


{{#extend "footer"}}
  {{> footer}}
{{/extend}}