

<div class="container-fluid">
  <div class="row">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button> 
      <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-check"></span> Publish
      </button> 
      <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </div>
  </div>
  <br>

  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            <input type="checkbox" id="selectall">
          </th>
          <th>
            Title
          </th>
          <th>
            Organiser
          </th>
          <th>
            Created At
          </th>
        </tr>
      </thead>

      <tbody>
        <%
        if(meetups.length > 0) {
          meetups.forEach(function (meetup) {
        %>
          <tr>
            <td>
              <input type="checkbox" name="id" value="<%= meetup.get('id') %>">
            </td>
            <td>
              <a href="#"><%= meetup.get('name') %></a>
            </td>
            <td>
              <a href="#"><%= meetup.get('organiser') %></a>
            </td>
            <td>
              <a href="#"><%= meetup.get('created_at') %></a>
            </td>
          </tr>
        <%
          });
        }
        %>
      </tbody>
    </table>
  </div>

  <% include ../partials/pagination %>

</div>