
<div class="panel panel-default">

  <div class="panel-heading">
    <span class="glyphicon glyphicon-user"></span> New Meetup Group

    <a href="/account/meetups" class="close pull-right">&times;</a>

  </div>

  <div class="panel-body">
  <form class="form-horizontal" id="meetup-form" action="/meetups/new" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{_csrf}}" />
    <div class="form-group">
      <label class="col-sm-3 control-label" for="title">
        Meetup Name <span class="text-danger">*</span>
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="title" id="title" placeholder="" required="" autofocus />
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label" for="desc">
        Short Description <span class="text-danger">*</span>
      </label>
      <div class="col-sm-7">
        <textarea class="form-control" size="124" rows="2" name="short_desc" id="short_desc" placeholder="" required=""></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label" for="desc">
        Full Description<span class="text-danger">*</span>
      </label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="4" name="desc" id="desc" placeholder="" required=""></textarea>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="organiser">
        Organiser <span class="text-danger">*</span>
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="organiser" id="organiser" placeholder="" value="" required="" />
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="organiser">
        When do you meet? <span class="text-danger">*</span>
      </label>

      <div class="col-sm-7">
       <input class="form-control" type="text" name="meetings" id="meetings" required="" />
      </div> 
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="email">
        Contact Email <span class="text-danger">*</span>
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="email" id="email" placeholder="" value="" required="" />
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="number">
        Contact Number
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="number" id="number" />
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="website">
        Website
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="website" id="website" placeholder="" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="geocomplete">
        Meetup Venue <span class="text-danger">*</span>
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="geocomplete" id="geocomplete" placeholder="" required="">
        
        <div id="googlemap" style="height:255px; width: 100%">
        </div>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" for="geocomplete">
        Image
      </label>
      <div class="col-sm-7">
      <input type='file' id="image_url" name="image_url" />
      <img id="imagepreview" src="#" style="display:none; width: 120px; height: 120px" />
      </div>
    </div>


    <div class="form-group hidden">
      <label class="col-sm-3 control-label" for="administrative_area_level_1">
        Province <span class="text-danger">*</span>
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="administrative_area_level_1" id="administrative_area_level_1" required="" />
      </div>
    </div>


    <div class="form-group hidden">
      <label class="col-sm-3 control-label" for="locality">
        City <span class="text-danger">*</span>
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="locality" id="locality"  required="" />
      </div>
    </div>


    <div class="form-group hidden">
      <label class="col-sm-3 control-label" for="sublocality">
        Town <span class="text-danger">*</span>
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="sublocality" id="sublocality"  required="" />
      </div>
    </div>


    <div class="form-group hidden">
      <label class="col-sm-3 control-label" for="lat">
        Latitude
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="lat" id="lat" />
      </div>
    </div>


    <div class="form-group hidden">
      <label class="col-sm-3 control-label" for="lng">
        Longitude
      </label>

      <div class="col-sm-7">
        <input class="form-control" type="text" name="lng" id="lng" />
      </div>
    </div>

    <input type="hidden" name="url" />
    <input type="hidden" name="formatted_address" />

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button class="btn btn-success" type="submit">
          <i class="fa fa-check"></i> Create Meetup
        </button>

        <a href="/account/meetups" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span> Close
        </a>
      </div>
    </div>
  </form>
  </div>
</div>
