

  <h1 class="blog-post-title" style="margin-bottom: 15px;">
    Find meetups near you
  </h1>

  <div class="container-fluid">
    <div class="row">
     <form>
      <ul class="list-unstyled list-inline">
        <li>
          <strong>Province:</strong> 
          <select name="province">
            <option>All</option>
            <option value="Eastern Cape">Eastern Cape</option>
            <option valuve="Free State">Free State</option>
            <option value="Gauteng">Gauteng</option>
            <option value="KwaZulu Natal">KwaZulu Natal</option>
            <option value="Limpopo">Limpopo</option>
            <option value="Mpumalanga">Mpumalanga</option>
            <option value="Northern Cape">Northern Cape</option>
            <option value="North West">North West</option>
            <option value="Western Province">Western Province</option>
          </select>
        </li>
      
        <li>
          <strong>City:</strong> 
          <select name="city">
            <option>Any</option>
          </select>
        </li>
      
        <li class="pull-right">
          <a href="#" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>  Add your meetup
          </a>
        </li>
      </ul>
     <form>
    </div>
  </div>
