
  <form class="form-horizontal" id="signup-form" action="/reset/<%= token %>" method="POST">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      <legend>Reset Password</legend>
      
      <div class="form-group">
        <label class="col-sm-3 control-label" for="password">Password</label>
        <div class="col-sm-7">
          <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="confirmPassword">Confirm Password</label>
        <div class="col-sm-7">
          <input class="form-control" type="password" name="confirm" id="confirm" placeholder="Confirm Password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <button class="btn btn-success" type="submit">
            <i class="fa fa-keyboard-o"></i> Change Password
          </button>
        </div>
      </div>
  </form>
