
<div class="col-sm-3">
  <div class="list-group">
    <a href="/account" class="list-group-item">
      Account
    </a>
    <a href="/admin/events" class="list-group-item">Events</a>
    <!--
    <a href="/" class="list-group-item">Companies</a>
    -->
    <a href="/admin/meetups" class="list-group-item">Meetups</a>
    <a href="/admin/blog" class="list-group-item">Blog</a>
  </div>
</div>