
<div class="col-sm-12">
  <ul class="nav nav-pills">
    <li class="{{#activeAdminMenu 'account' page}}{{/activeAdminMenu}}">
      <a href="/account">Account</a>
    </li>

    <li class="{{#activeAdminMenu 'events' page}}{{/activeAdminMenu}}">
      <a href="/account/events">Events</a>
    </li>

    <li class="{{#activeAdminMenu 'meetups' page}}{{/activeAdminMenu}}">
      <a href="/account/meetups">Meetups</a>
    </li>

    <li class="{{#activeAdminMenu 'blog' page}}{{/activeAdminMenu}}">
      <a href="/account/blog">Blog</a>
    </li>
  </ul>
</div>