
        <div class="col-sm-3">
          <!--
          <ul class="list-group">
            <li class="list-group-item">
             <span class="glyphicon glyphicon-wrench"></span> Admin
            </li>
          </ul>
          -->
          <div class="list-group">
            <a href="/account" class="list-group-item <% if(page == 'account' || page == 'linkedaccounts' || page == 'changepassword') { %>disabled <% } %>">
              Account
            </a>

            <a href="/admin/events" class="list-group-item <% if(page == 'newevent' || page == 'event' || page == 'events') { %>disabled<% } %>">Events</a>
            <!--
            <a href="/" class="list-group-item <% if(page == 'companies') { %>disabled<% } %>">Companies</a>-->

            <a href="/admin/meetups" class="list-group-item <% if(page == 'meetups' || page == 'newmeetup') { %>disabled<% } %>">Meetups</a>

            <a href="/admin/blog" class="list-group-item <% if(page == 'blog' || page == 'newpost') { %>disabled<% } %>">Blog</a>
          </div>
        </div>