<div id="flash">
  <% if (messages.errors) { %>
    <div class="alert alert-danger animated fadeIn">
      <% for (error in messages.errors) { %>
          <div><%= messages.errors[error].msg %> </div>
      <% } %>
    </div>
  <%   
    }
    if (messages.info) { 
  %>
      <div class="alert alert-info animated fadeIn">
        <% for (info in messages.info) { %>
          <div><%= messages.info[info].msg %> </div>
        <% } %>
      </div>
  <%  
    }
    if (messages.success) { 
  %>
      <div class="alert alert-success animated fadeIn">
        <% for (success in messages.success) { %>
          <div><%= messages.success[success].msg %></div>
        <% } %>
      </div>
  <%  
    }
  %>
</div>