    <div class="blog-footer">
      <p>&copy; 2014 - Created and maintained by <a href="http://www.ragingflame.co.za">Raging Flame</a></p>
    </div>
         
<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/docs.min.js"></script>
<% if (title === 'New Event') { %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="/js/jquery.geocomplete.min.js"></script>
  <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="/bower_components/datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script>
    $(function(){
      $("#geocomplete").geocomplete({
        details: "#event-form",
        map: "#googlemap",
        mapOptions: {
          zoom: 10
        },
        componentRestrictions: {country: 'za'}
      });


      $('#googlemap').on("focus", function() {
        $('#googlemap').slideDown('slow');
      });

      $('#dateDiv').datetimepicker({
        pickTime: false,
        minDate: moment().format('l')
      });

      $('#startTimeDiv').datetimepicker({
        pickDate: false
      });

      $('#finishTimeDiv').datetimepicker({
        pickDate: false
      });
    });
  </script>
<% } %>
</body>
</html>