


  <div class="row">
    <div class="col-sm-12 col-md-9">
      <ul class="list-inline">
        <li><a href="#">About</a></li>
        <li>&middot;</li>
        <li><a href="#">Developers</a></li>
        <li>&middot;</li>
        <li><a href="#">Advertising</a></li>
        <li>&middot;</li>
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li>&middot;</li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <ul class="list-inline pull-right" style="font-size:18px">
        <li>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
            <span class="fa fa-twitter">&nbsp;</span>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Fork us on Github">
            <span class="fa fa-github" style="color:#555">&nbsp;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin-top:20px">
    <div class="col-sm-12 col-md-12">
      <ul class="list-inline">
        <li>
          &copy; 2014 - Created by 
          <span class="glyphicon glyphicon-fire text-danger"></span> 
          <a href="http://www.ragingflame.co.za">Raging Flame</a>
        </li>
        <li>|</li>
        <li>
          Hosted by <a href="#">AfriHost</a>
        </li>
      </ul>
    </div>
  </div>
