

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">NodeZA</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li <% if(title == 'Welcome to NodeZA, a portal of Node.js developers in South Africa') { %>class="active"<% } %>>
              <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>

            <li <% if(title == 'Event' || title == 'Events' || title == 'My Events' || title == 'New Event') { %>class="active"<% } %>>
              <a href="/events"><span class="glyphicon glyphicon-calendar"></span> Events</a>
            </li>

            <li <% if(title == 'Meetup' || title == 'Find Meetups') { %>class="active"<% } %>>
              <a href="/meetups"><span class="glyphicon glyphicon-search"></span> MeetUps</a>
            </li>
            
            <li <% if(title == 'Companies using Node.js in South Africa') { %>class="active"<% } %>>
              <a href="/companies"><span class="glyphicon glyphicon-registration-mark"></span> Companies</a>
            </li>

            <li <% if(title == 'Blog') { %>class="active"<% } %>>
              <a href="/blog"><span class="glyphicon glyphicon-list-alt"></span> Blog</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
            <li <% if(title == 'Log In') { %>class="active"<% } %>>
              <a href="/login">Log In</a>
            </li>
            <li <% if(title == 'Sign Up') { %>class="active"<% } %>>
              <a href="/signup">Sign Up</a>
            </li>
            <% 
            } 
            else { %>

            <li <% 
              var klass='';
              switch(title) {
                case 'My Account':
                case 'Change Password':
                case 'Linked Accounts':
                  klass = "class=active";
                break;
              }
            %>
            <%= klass %>>
              <a href="/admin" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-wrench"></span> Admin 
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a href="/account">Account</a>
                </li>

                <li>
                  <a href="/admin/events">Events</a>
                </li>

                <li>
                  <a href="/admin/meetups">Meetups</a>
                </li>

                <li><a href="/admin/blog">Blog</a></li>
              </ul>
            </li>
            
            <li>
              <a href="/logout"><span class="glyphicon glyphicon-lock"></span> Logout</a>
            </li>
            <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>