

        <div class="col-sm-3 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Events</h4>
            <p>Everything Node.js in South Africa</p>
          </div>

          <div class="sidebar-module sidebar-module-inset">
            <h4>Sponser</h4>
          </div>
        </div><!-- /.blog-sidebar -->