

        <div class="col-sm-3 blog-sidebar">

          <div class="panel panel-default">
            <div class="panel-heading">
              Featured Company
            </div>
            <div class="panel-body">
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/48x48" alt="...">
                </a>

                <div class="media-body">
                  Everything Node.js in South Africa
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              Popular Posts
            </div>
            <div class="panel-body">
              Everything Node.js in South Africa
            </div>
          </div>

          <div class="sidebar-module sidebar-module-inset">
            <h4>Sponsers</h4>
          </div>
        </div><!-- /.blog-sidebar -->