
      <!--
        <div class="col-sm-3">
          <div class="list-group">
            <a href="/account" class="list-group-item <% if(title == 'My Account' || title == 'Linked Accounts' || title == 'Change Password') { %>disabled <% } %>">
              Account
            </a>

            <a href="/events" class="list-group-item <% if(title == 'My Events' || title == 'New Event' || title == 'Events') { %>disabled<% } %>">Events</a>

            <a href="#" class="list-group-item <% if(title == 'Articles') { %>disabled<% } %>">Articles</a>

            <a href="/" class="list-group-item <% if(title == 'Companies') { %>disabled<% } %>">Companies</a>

            <a href="/" class="list-group-item <% if(title == 'User Groups') { %>disabled<% } %>">Usergroups</a>
          </div>
        </div>
      -->

        <div class="col-sm-3 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Events</h4>
            <p>Everything Node.js in South Africa</p>
          </div>

          <div class="sidebar-module sidebar-module-inset">
            <h4>Sponser</h4>
          </div>
        </div>