
{{#if collection}}

<div class="col-sm-4 col-md-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Latest Events</h3>
    </div>

    <div class="panel-body">
      <dl class="dl-horizontal">
      {{#each collection}}
        <dt>{{#parseDate dt 'DD/MM/YY'}}{{/parseDate}}</dt>
        <dd><a href="/events/{{slug}}">{{title}}</a> {{#eventLabel dt}}{{/eventLabel}}</dd>
      {{/each}}
      </dl>
    </div>
  </div>
</div>
{{/if}}
