*.zip
*.psd
*.js~
*.md~
*.json~
*.html~
*.ejs~
*.css~
*.docx
*.log
Procfile~
*~
*.gitignore~
*.secret
node_modules/
build/
temp/
public/img/120/
public/img/320/
public/img/48/
.env.production.js
.env.development.js
.env.testing.js
