

<div class="row" style="margin-top:40px">
  <div class="col-sm-12 col-md-12">
    <ul class="list-inline">
      <li>
        &copy; 2014 - Built with 
        <a href="http://nodejs.org" target="_blank">Node.js</a> by 
        <span class="glyphicon glyphicon-fire text-danger"></span> 
        <a href="http://blog.ragingflame.co.za" target="_blank">Raging Flame</a>
      </li>
      <li>|</li>
      <li>
        Sponsored by 
        <a href="http://io.co.za" target="_blank" style="color:#333">
          <strong>IO</strong>
        </a>
      </li>
    </ul>
  </div>
</div>