

<div class="row" style="margin-top:20px">
  <div class="col-sm-12 col-md-12">
    <ul class="list-inline">
      <li>
        &copy; 2014 - Created by 
        <span class="glyphicon glyphicon-fire text-danger"></span> 
        <a href="http://www.ragingflame.co.za">Raging Flame</a>
      </li><!--
      <li>|</li>
      <li>
        Hosted by <a href="#">AfriHost</a>
      </li>-->
    </ul>
  </div>
</div>