


<div class="panel panel-default">
  <div class="panel-heading">
    Categories
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% categories.categories.forEach(function (category) { %>
        <li>
          <a href="/blog/category/<%= category.get('slug')%>">
            <%= category.get('name') %>
          </a>
        </li>
      <% }); %>
    </ul>
  </div>
</div>