
 {{#if collection}}
<div class="col-sm-6 col-md-5">
  <h3>
    <span class="glyphicon glyphicon-user text-info"></span> 
    <a href="/events">Featured Meetups</a>
  </h3>

  {{#each collection}}
    <div class="media">
      <a class="pull-left" href="/meetups/{{slug}}">
        <img class="media-object" data-src="holder.js/48x48" alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="/meetups/{{slug}}">
            {{name}}
          </a>
        </h4>
        {{short_desc}}
      </div>
    </div>
  {{/each}}
</div>
{{/if}}