    
<div id="jumbotron" class="jumbotron" <% 
  if (title=='Events' || title=='Blog' || title=='Find Meetups' || title == 'Companies using Node.js in South Africa') {%>style="padding-top:20px; padding-bottom:20px;"<%}%>>
  <div class="container">
    <% if (title=='Events') {%>

     <h1 style="font-size: 42px">Upcoming Node.js events</h1>

    <% } else if (title == 'Companies using Node.js in South Africa') {%>

     <h1 style="font-size: 42px">Companies using Node.js</h1>

    <% } else if (title == 'Find Meetups') {%>

     <h1 style="font-size: 42px">Find meetup groups</h1>

    <% } else if (title == 'Blog') {%>

     <h1 style="font-size: 42px">Blog</h1>

    <% } else {%>

    <h1>Pushing Node.js forward...</h1>
  
    <p>NodeZA is a community of Node.js developers in South Africa</p>
    
    
    <ul class="list-inline">
      <% if (!user) { %>
      <li>
        <a href="/signup" class="btn btn-danger btn-lg" role="button">
          <span class="glyphicon glyphicon-heart"></span> Join the community!
        </a>
      </li>
      <% } %>
      <li>
        <a href="/events" class="btn btn-success btn-lg" role="button">
          <span class="glyphicon glyphicon-calendar"></span> Checkout upcoming events
        </a>
      </li>
      <li>
        <a href="/meetups" class="btn btn-primary btn-lg" role="button">
          <span class="glyphicon glyphicon-search"></span> Find meetups near you
        </a>
      </li>
    </ul>
    <% } %>
  </div>
</div>