    
<div id="jumbotron" class="jumbotron <%= page %>">
  <div class="container">
    <% if (title=='Events') {%>

     <h1>Upcoming Node.js events</h1>

    <% } else if (title == 'Event') {%>

     <h1>Event</h1>

    <% } else if (title == 'Companies using Node.js in South Africa') {%>

     <h1>Companies using Node.js</h1>

    <% } else if (title == 'Find Meetups') {%>

     <h1>Find meetup groups</h1>

    <% } else if (title == 'Meetup') {%>

     <h1><%= meetup.get('name') %></h1>

    <% } else if (title == 'Blog') {%>

     <h1>Blog</h1>

    <% } else {%>

    <h1>Pushing Node.js forward...</h1>
  
    <p>NodeZA is a community of Node.js developers in South Africa</p>
    
    
    <ul class="list-inline">
      <% if (!user) { %>
      <li>
        <a href="/signup" class="btn btn-danger btn-lg" role="button">
          <span class="glyphicon glyphicon-heart"></span> Join the community!
        </a>
      </li>
      <% } %>
      <li>
        <a href="/events" class="btn btn-success btn-lg btn-lg" role="button">
          <span class="glyphicon glyphicon-calendar"></span> Checkout upcoming events
        </a>
      </li>
      <li>
        <a href="/meetups" class="btn btn-primary btn-lg" role="button">
          <span class="glyphicon glyphicon-search"></span> Find meetups near you
        </a>
      </li>
    </ul>
    <% } %>
  </div>
</div>