    
<div id="jumbotron" class="jumbotron <%= page %>">
  <div class="container">
    <h1>{{title}}</h1>


    {{#ifCond page '==' '/'}}

      <p>NodeZA is a community of Node.js developers in South Africa</p>

      <ul class="list-inline">
        {{#if user}}
          <li>
            <a href="/events" class="btn btn-success btn-lg btn-lg" role="button">
              <span class="glyphicon glyphicon-calendar"></span> Checkout upcoming events
            </a>
          </li>
          <li>
            <a href="/meetups" class="btn btn-primary btn-lg" role="button">
              <span class="glyphicon glyphicon-search"></span> Find meetups near you
            </a>
          </li>
        {{else}}
          <li>
            <a href="/signup" class="btn btn-danger btn-lg" role="button">
              <span class="glyphicon glyphicon-heart"></span> Join the community!
            </a>
          </li>
        {{/if}}
      </ul>
    {{/ifCond}}
  </div>
</div>