

<h3>
  <span class="glyphicon glyphicon-user text-info"></span> 
  <a href="/events">Featured Meetups</a>
</h3>

<% meetups.forEach(function(meetup) { %>
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/48x48" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="/meetups/<%= meetup.get('slug') %>">
          <%= meetup.get('name') %>
        </a>
      </h4>
      <%- meetup.get('short_desc') %>
    </div>
  </div>
<% }); %>