

<h3><span class="glyphicon glyphicon-user text-info"></span> Meetups</h3>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/48x48" alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Cape Town Meetup</h4>
    Cras sit amet nibh libero, in gravida nulla.
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/48x48" alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Jozi Node Meetup</h4>
    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
  </div>
</div>