

<div class="sidebar-module sidebar-module-inset">
  <div class="form-group">
    <label for="">Subscribe</label>

    <div class="input-group">
      <input type="text" placeholder="Email Address" class="form-control">
      <div class="input-group-btn">
        <button tabindex="-1" class="btn btn-primary" type="button">Send</button>
      </div>
    </div>
  
    <p class="help-block">Get all the fresh Node.js content</p>
  </div>
</div>