
    <% include partials/header %>


    <% include partials/navigation %>




    <div class="container">

      <div class="row">
      
        <% include partials/flash %>

        <div class="col-sm-9 blog-main">

        </div><!-- /.blog-main -->


        <% include partials/sidebar %>


      </div><!-- /.row -->

    </div><!-- /.container -->

    <% include partials/footer %>


