
    <% include partials/header %>

    <% include partials/navigation %>


    <div class="container">

      <div class="row">
        <% include partials/flash %>

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">About NodeZA</h2>

            <p></p>

            <p>NodeZA is a portal for Node.js developers in South Africa. It was created out of the need to connect Node.js deveoplers under one roof and promote Node as a technology.</p>
            
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->


        <% include partials/sidebar %>


      </div><!-- /.row -->

    </div><!-- /.container -->

    <% include partials/footer %>


