{{#extend "jumbotron"}}
<div id="jumbotron" class="jumbotron events">
  <div class="container">
    <h1>Companies using Node</h1>
  </div>
</div>
{{/extend}} 

<div class="col-sm-9 blog-main">
  {{> flash}}

  {{> companies_companies}}
</div>

{{> sidebar}}