

{{#extend "jumbotron"}}
<div id="jumbotron" class="jumbotron">
  <div class="container">
    <h1>Events</h1>
  </div>
</div>
{{/extend}} 

<div class="col-sm-9 blog-main">
  {{> flash}}

  {{> events_event}}
</div>

{{> sidebar}}

{{#extend "scripts"}}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="/js/jquery.geocomplete.min.js"></script>
<script src="/js/maps.js"></script>
<script>
  var map = new GMaps({
    div: '#eventVenue',
    lat: "{{myEvent.lat}}",
    lng: "{{myEvent.lng}}"
  });
    
  GMaps.geocode({
    address: "{{myEvent.address}}",

    callback: function(results, status){
     if (status=='OK'){
       var latlng = results[0].geometry.location;
       map.setCenter(latlng.lat(), latlng.lng());
       map.addMarker({
         lat: latlng.lat(),
         lng: latlng.lng()
       });
     }
    }
  });
</script>
{{/extend}}

