
{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
{{/extend}}



<div class="col-sm-12 blog-main">
  {{> flash}}

  {{> events_new}}
</div>

{{#extend "scripts"}}
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/jquery.geocomplete.min.js"></script>
{{/extend}}