
{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
{{/extend}}



<div class="col-sm-12 blog-main">
  {{> flash}}

  {{> events_new}}
</div>

{{#extend "scripts"}}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="/js/jquery.geocomplete.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script>
  $(function(){
    if (typeof google !== 'undefined') {
      $("#geocomplete").geocomplete({
        details: "#event-form",
        map: "#googlemap",
        mapOptions: {
          zoom: 10
        },
        componentRestrictions: {country: 'za'}
      });
    }


    $('#googlemap').on("focus", function() {
      $('#googlemap').slideDown('slow');
    });

    $('#dateDiv').datetimepicker({
      pickTime: false,
      minDate: moment().format('l')
    });

    $('#startTimeDiv').datetimepicker({
      pickDate: false
    });

    $('#finishTimeDiv').datetimepicker({
      pickDate: false
    });
  });
</script>
{{/extend}}