

{{#extend "jumbotron"}}
<div id="jumbotron" class="jumbotron events">
  <div class="container">
    <h1>Node.js Events</h1>

    <p>Checkout upcoming Node.js events<p>
  </div>
</div>
{{/extend}} 

<div class="col-sm-9 blog-main">
  {{> flash}}

  {{> events_events}}
</div>

{{> sidebar}}