
    <% include partials/header %>

    <% include widgets/jumbotron %>

    <div class="container">

      <div class="row">

          <div class="col-sm-9 blog-main">
            <% include partials/flash %>
            
            <% include events/events %>
          </div>

          <% include partials/sidebar %>
      </div>

    </div><!-- /.container -->

    <% include partials/footer %>