
    <% include partials/header %>


    <% include partials/navigation %>


    <% include widgets/jumbotron %>


    <div class="container">
      <div class="row">

        <% include partials/flash %>

        <div class="col-sm-6 col-md-4">

          <% include widgets/events %>

        </div>

        <div class="col-sm-6 col-md-5">

          <% include widgets/meetups %>

        </div>

        <div class="col-sm-6 col-md-3">

          <% include widgets/subscribe %>
          
        </div>
      </div>
      <hr style="margin-top:0px">
      <div class="row">

        <div class="col-sm-9 blog-main">

          <div class="blog-post">
            <h1 class="blog-post-title">Welcome to Node South Africa</h1>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">Que</a></p>

            <p>NodeZA, pronounced as Node Z A, is a portal for Node.js developers in South Africa. It was created out of the need to connect Node.js developers under one roof and promote Node as a technology.</p>

            <p>NodeZA is a portal for Node.js developers in South Africa. It was created out of the need to connect Node.js deveoplers under one roof and promote Node as a technology.</p>
            
          </div><!-- /.blog-post -->


          <div class="blog-post">
            <h1 class="blog-post-title">Welcome to Node South Africa</h1>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">Que</a></p>

            <p>NodeZA, pronounced as Node Z A, is a portal for Node.js developers in South Africa. It was created out of the need to connect Node.js developers under one roof and promote Node as a technology.</p>

            <p>NodeZA is a portal for Node.js developers in South Africa. It was created out of the need to connect Node.js deveoplers under one roof and promote Node as a technology.</p>
            
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->


        <% include partials/sidebar %>


      </div><!-- /.row -->

    </div><!-- /.container -->

    <% include partials/footer %>


