
    <% include partials/header %>


    <% include widgets/jumbotron %>


    <div class="container">
      
      <div class="row">

        <% include partials/flash %>

        <div class="col-sm-6 col-md-4">

          <% include widgets/events %>

        </div>

        <div class="col-sm-6 col-md-5">

          <% include widgets/meetups %>

        </div>

        <div class="col-sm-12 col-md-3">

          <% include widgets/subscribe %>
          
        </div>
      </div>

      <hr style="margin-top:0px">

      <div class="row">

        <div class="col-sm-9 blog-main">

          <% include widgets/content %>

        </div>


        <% include partials/sidebar %>


      </div><!-- /.row -->

    </div><!-- /.container -->


    <% include partials/footer %>


