


<div class="col-sm-12 blog-main">
  {{> flash}}

  {{> meetups_new}}
</div>

{{#extend "scripts"}}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="/js/jquery.geocomplete.min.js"></script>
<script>
  $(function(){
    $("#geocomplete").geocomplete({
      details: "#meetup-form",
      map: "#googlemap",
      mapOptions: {
        zoom: 10
      },
      componentRestrictions: {country: 'za'}
    });
  });

  $('#geocomplete').on('blur', function() {
    $('.form-group.hidden').removeClass('hidden');
  });
</script>
{{/extend}}