


<div class="col-sm-12 blog-main">
  {{> flash}}

  {{> meetups_edit}}
</div>

{{#extend "scripts"}}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="/js/jquery.geocomplete.min.js"></script>
<script>
  $(function(){
    $("#geocomplete").geocomplete({
      details: "#meetup-form",
      componentRestrictions: {country: 'za'}
    });
  });
</script>
{{/extend}}