

{{#extend "jumbotron"}}
<div id="jumbotron" class="jumbotron events">
  <div class="container">
    <h1>Meetups</h1>
    <p>Find a Node.js meetup group near you<p>
  </div>
</div>
{{/extend}} 

<div class="col-sm-9 blog-main">
  {{> flash}}

  {{> meetups_meetups}}
</div>

{{> sidebar}}