
    <% include partials/header %>

    <div class="container">

      <div class="row">

          <% include partials/adminmenu %>
    
          <div class="col-sm-9 blog-main">
            <% include partials/flash %>
            
            <% include meetups/admin_meetup %>
          </div>

          
          
      </div>

    </div><!-- /.container -->

    <% include partials/footer %>