


<div class="col-sm-12 blog-main">
  {{> flash}}

  {{> meetups_new}}
</div>

{{#extend "scripts"}}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="/js/jquery.geocomplete.min.js"></script>
<script>
(function($){
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
  
      reader.onload = function (e) {
          $('#imagepreview').attr('src', e.target.result).fadeIn();
      }
  
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#geocomplete").geocomplete({
    details: "#meetup-form",
    map: "#googlemap",
    mapOptions: {
      zoom: 10
    },
    componentRestrictions: {country: 'za'}
  });
  

  $('#geocomplete').on('blur', function() {
    $('.form-group.hidden').removeClass('hidden');
  });

  $("#image_url").change(function(){
    readURL(this);
  });
}(jQuery));
</script>
{{/extend}}