


<div class="col-sm-12 blog-main">
  {{> flash}}

  {{> posts_new}}
</div>

{{#extend "scripts"}}
<script src="/js/epiceditor/js/epiceditor.min.js"></script>
<script>
var editor = new EpicEditor({
  textarea: 'markdown',
  basePath: '/js/epiceditor',
  clientSideStorage: false,
  theme: {
    base: '/themes/base/epiceditor.css',
    preview: '/themes/preview/github.css',
    editor: '/themes/editor/epic-light.css'
  }
}).load();
</script>
{{/extend}}