



<div class="col-sm-12 blog-main">
  {{> flash}}

  {{> posts_edit}}
</div>

{{#extend "scripts"}}
<script src="/js/epiceditor/js/epiceditor.min.js"></script>
<script>
 (function ($) {
 	
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
  
      reader.onload = function (e) {
          $('#imagepreview').attr('src', e.target.result).fadeIn();
      }
  
      reader.readAsDataURL(input.files[0]);
    }
  }
  
  var editor = new EpicEditor({
    textarea: 'markdown',
    basePath: '/js/epiceditor',
    theme: {
      base: '/themes/base/epiceditor.css',
      preview: '/themes/preview/github.css',
      editor: '/themes/editor/epic-light.css'
    }
  }).load();
  
  $("#image_url").change(function(){
    readURL(this);
  });
}(jQuery));
</script>
{{/extend}}