{{#extend "stylesheets"}}
<link href="/css/prettify.css" rel="stylesheet">
{{/extend}}


<div class="col-sm-9 blog-main">
  {{> flash}}

  {{> posts_post}}
</div>

{{> sidebar }}

{{#extend "scripts"}}
<script src="/js/prettify.js"></script>
<script>
function addClassNames() {
    var pre = document.getElementsByTagName('pre'), i;

    for (i = 0; i < pre.length; i++) {
        pre[i].className = "prettyprint linenums";
    }
}

addClassNames();
prettyPrint();
</script>
{{/extend}}