/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #3c763d;
}

.blog-main-body p, .blog-main-body h3, .blog-main-body h2 {
  margin-top: 1.3em;
}

h1, .h1 {
  font-size: 32px;
  margin-left: 0px;
}

a, a.text-primary, .navbar-default .navbar-nav>li>a, .dropdown-menu>li>a, .pagination>li>a, .pagination>li>span {
  color: #3c763d;
}

a:hover, a.text-primary:hover {
  color: #3c763d;
}

.dropdown-menu>li>a:hover, .panel-footer {
  background-color: #dff0d8;
}

.pagination>li.active>a,.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #dff0d8;
  color: #3c763d;
}

.pagination>li.active>a {
  border-color: #d6e9c6;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #dff0d8;
}

h3 a, h1.blog-post-title a, h4 a, h2 a {
  color: #3c763d;
}

blockquote p {
  margin-top: 0px!important;
  font-size: 16px;
  font-style: italic;
}


label {
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
}


.form-control {
  border-radius: 0px;
}

.panel {
  border-radius: 4px 4px 0px 0px;
}

ul.styled-lists li {
  margin-bottom: 4px;
}

ul.styled-lists li:before {
  content: " » ";
  margin-left: -10px;
  top: -1px;
}



/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}



#jumbotron {
  color: #f8f8f8;
  background: url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  margin-top: -20px;
}

#jumbotron.home {
  background: url(../img/banner_io.jpg) no-repeat center center;
}

#jumbotron.cape-town-nodebots {
  background: url(../img/cape_town_nodebots.jpg) no-repeat center center;
  padding-top:80px;
  padding-bottom:80px;
}

#jumbotron.events {
  padding-top:20px;
  padding-bottom:20px;
}

#jumbotron.meetups {
  background: url(../img/banner_io.jpg) no-repeat center center;
  padding-top:20px;
  padding-bottom:20px;
}

#jumbotron.blog {
  background: url(../img/intro-bg.jpg) no-repeat center center;
  padding-top:20px;
  padding-bottom:20px;
}

.dl-horizontal dd {
  margin-left: 80px!important;
}

.dl-horizontal dt {
  width: 70px;
  text-align: left;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(24,46,24,.1);
          box-shadow: inset 0 -2px 5px rgba(24,46,24,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 16px;
  line-height: 1.5;
}


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin-bottom: 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 40px;
}
.blog-post-title {
  margin-bottom: 10px;
  font-size: 24px;
}
.blog-main-body .blog-post-title {
  font-size: 40px;
}
/*
.blog-main a:visited {
  color: #999;
}*/

.blog-main-body h3 {
  margin-top: 40px;
}

.blog-main-body .blog-post-meta a.share {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  display: block;
  float: right;
  background-image: url('../img/share-icons.png');
}

.blog-main-body .blog-post-meta a.share:hover {
  text-decoration: none;
}

.blog-main-body .blog-post-meta a.share-fb {
  background-position: -10px -10px;
}

.blog-main-body .blog-post-meta a.share-twitter {
  background-position: -10px -46px;
}
.blog-main-body .blog-post-meta a.share-reddit {
  background-position: -10px -82px;
}
.blog-main-body .blog-post-meta a.share-linkedin {
  background-position: -10px -118px;
}


.blog-post-meta {
  margin-bottom: 10px;
  color: #999;
  font-size: 12px;
}

.post-author {
  margin-top:40px;
  margin-bottom:30px;
  background:#F8F8F8;
  border: 1px solid #E7E7E7;
  font-size: 14px;
}


/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border-left: 3px solid #eee;
}
.nodeza-blog-post .bs-callout {
  padding: 5px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}

.blog-main .bs-callout {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

.post-author .media-heading {
  font-size: 16px;
}


.thumbnail, pre {
  border-radius: 0px;
}

.meetup.panel.panel-default {
  border-radius: 0px;
}

.event.panel.panel-default {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.meetups-tile .thumbnail {
  border-top: 0px;
}
/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  margin-top: 20px
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.admin-tiles span {
  display: block;
  font-size: 24px;
  color: #777;
}

.admin-tiles span:hover {
  color: #A94442;
}

.admin-tiles a {
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.admin-tiles a:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 0 10px 0 rgba(24,46,24,.25);
  box-shadow: 0 0 10px 0 rgba(24,46,24,.25);
  color: #A94442!important;
}


/* Meetups */
.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.zero-margin {
  margin-right: 0px;
  margin-left: 0px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(24,46,24,.10);
    box-shadow: 0 0 10px 0 rgba(24,46,24,.10);
}

.no-padding {
    padding: 0;
}


/* Profile twitter box */
.box {

    padding: 10px 25px;
    text-align: right;
    display: block;
}

.info {
  height: 60px;
}

.info > p {
    color: #717171;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    display: none;
}

.info > .twitter-timeline {
  top: 80px;
  right: 35px;
}

.info > p:first-child {
    display: block;
}

.info > a {
    border-radius: 2px;
    color: #03a9f4;
    transition: all 0.5s ease 0s;
}
/* @endof Profile twitter box */


/* Desktop */
@media (min-width: 768px) {
  /* Sidebar modules for boxing content
  .blog-sidebar .panel {
    margin-left: -15px;
    margin-right:-15px;
    border-radius: 4px 4px 0px 0px;
  }

  .sidebar-module {
    margin: 0 -15px 15px;
  } */

  .panel-footer {
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 768px) {
  /* Sidebar modules for boxing content */

  .meetups-tile .col-sm-6 img {
    width: 100%!important;
    height: auto!important;
  }

  .info {
     height: auto!important;
   }

  .btn.btn-lg {
    margin-bottom: 5px;
  }

  .sidebar-module {
    margin-top: 15px;
  }

  .navbar-toggle {
    border-radius: 0px;
    border: 0;
  }
}
