
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">NodeZA<sup class="text-danger"><i>beta</i></sup></a>
    </div>
    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav">
        {{#mainMenu collection page}}
        {{/mainMenu}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
      {{#if user}}
        <li class="{{#activeMenu 'admin' page}}{{/activeMenu}}">
          <a href="/admin" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{#gravatar user.email '14'}}{{/gravatar}}" alt="{{user.name}}" class="img-circle" style="margin:0px;line-height:0;"> {{user.name}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/account">Account</a>
            </li>
            <li>
              <a href="/admin/account/password">Change password</a>
            </li>

            {{#ifCond user.role.name '==' 'Super Administrator'}}
              <li><a href="/admin/users">Users</a></li>
              <li><a href="/admin/events">Events</a></li>
              <li><a href="/admin/meetups">Meetups</a></li>
              <li><a href="/admin/blog">Blog</a></li>
            {{/ifCond}}

            <li class="divider"></li>
            <li><a href="/devs/{{user.slug}}">View Profile</a></li>
          </ul>
        </li>
        <li>
          <a href="/logout"><span class="glyphicon glyphicon-lock"></span> Logout</a>
        </li>
      {{else}}
        <li class="{{#activeMenu 'login' page}}{{/activeMenu}}">
          <a href="/login">Log In</a>
        </li>
        <li class="{{#activeMenu 'signup' page}}{{/activeMenu}}">
          <a href="/signup">Sign Up</a>
        </li>
      {{/if}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
