

<div class="panel panel-default">
  <div class="panel-heading">
    Admin
  </div>
  <ul class="list-group">
    <li class="list-group-item {{#activeAdminMenu 'account' page}}{{/activeAdminMenu}}">
      <span class="glyphicon glyphicon-user"></span> <a href="/admin/account">Account</a>
    </li>
    <li class="list-group-item {{#activeAdminMenu 'events' page}}{{/activeAdminMenu}}">
      <span class="glyphicon glyphicon-calendar"></span> <a href="/admin/events">Events</a>
    </li>
    <li class="list-group-item {{#activeAdminMenu 'meetups' page}}{{/activeAdminMenu}}">
      <span class="glyphicon glyphicon-map-marker"></span> <a href="/admin/meetups">Meetups</a>
    </li>
    <li class="list-group-item {{#activeAdminMenu 'blog' page}}{{/activeAdminMenu}}">
      <span class="glyphicon glyphicon-list-alt"></span> <a href="/admin/blog">Blog</a>
    </li>
  </ul>
</div>