

<div class="modal fade" id="cropPopup" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="img-container" style="width:inherit; text-align:center">
          <img src="{{#gravatar user '300'}}{{/gravatar}}" id="profilePic">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="cropImage" class="btn btn-primary crop-image">Crop Image</button>
      </div>
    </div>
  </div>
</div>

<div style="text-align:center;margin-bottom:20px;">
  <img src="{{#gravatar user '300'}}{{/gravatar}}" id="profileImg" class="img-circle" style="margin:0px;margin-bottom:10px;line-height:0;width:90%">
  <p><button class="btn btn-link" id="logouploadbtn"><span class="glyphicon glyphicon-pencil"></span> Change Pic</button></p>
  <form action="/users/upload-image" id="image-upload-form" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_csrf"  id="csrf-token" value="{{_csrf}}" />
    <input type="file" name="logo" id="logofileinput" style="display: none;" />
  </form>
</div>
<div class="panel panel-success">
  <ul class="list-group">
    <li class="list-group-item {{#activeAdminMenu 'account' page}}{{/activeAdminMenu}}{{#activeAdminMenu 'password' page}}{{/activeAdminMenu}}">
      <span class="glyphicon glyphicon-user"></span> <a href="/admin/account">My Account</a>
    </li>
    <li class="list-group-item {{#activeAdminMenu 'messages' page}}{{/activeAdminMenu}}">
      <span class="fa fa-envelope"></span> <a href="/admin/messages">Messages </a> {{#if user.unreadmessages.length}}<span class="badge badge-danger">{{user.unreadmessages.length}}</span>{{/if}}
    </li>
    {{#ifCond user.role.name '==' 'Super Administrator'}}
    <li class="list-group-item {{#activeAdminMenu 'events' page}}{{/activeAdminMenu}}">
      <span class="glyphicon glyphicon-calendar"></span> <a href="/admin/events">Events</a>
    </li>
    <li class="list-group-item {{#activeAdminMenu 'meetups' page}}{{/activeAdminMenu}}">
      <span class="glyphicon glyphicon-map-marker"></span> <a href="/admin/meetups">Meetups</a>
    </li>
    <li class="list-group-item {{#activeAdminMenu 'blog' page}}{{/activeAdminMenu}}">
      <span class="glyphicon glyphicon-list-alt"></span> <a href="/admin/blog">Blog</a>
    </li>
    {{/ifCond}}
  </ul>
</div>
