
{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


<div class="col-sm-12">
    <h1>About NodeZA</h1>

    <p>NodeZA, pronounced as Node Z A, in a Node.js information portal and social platform for developers in South Africa. Our aim is to make information about Node.js in South Africa easily accessible.</p>

    <h3>What is Node.js?</h3>
    <p>Node.js is a fast growing technology that enables developers to run JavaScript, the popular browser scripting language, on the server side.</p>
</div>
{{#extend "footer"}}
  {{> footer}}
{{/extend}}