
{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}

<div class="col-sm-12 blog-main box-shadow nodeza-blog-post" style="padding-top:10px;padding-bottom:10px">
  <div class="blog-main-body">
    <h1>About NodeZA</h1>

    <p>NodeZA, pronounced as Node Z A, is a social platform that connects you to other Node.js developers in South Africa and provides information to help you build your skills as Node.js developer.</p>

    <p>Some of the information that you can find on this website includes Node.js events around the country, meetup groups near you, companies using Node.js, news, tutorials and anything else related to Node.js in South Africa.</p>

    <h3>What is Node.js and why should you care?</h3>

    <p>Node.js is an exciting new technology that is growing in popularity all over the world and here in South Africa.</p>

    <blockquote>
      <p>
      	Node.js is a technology that allows us to write JavaScript applications on the server side and is great for easily building fast, scalable network applications.
      </p>
    </blockquote>

    <p>Some of the applications that you can build with Node.js are: web applications, real-time chat servers, real-time batting applications, APIs, command-line tools, desktop applications, hardware programs, e.t.c.</p>

    <p>Big companies like Paypal, LinkedIn, Walmart, Yahoo!, Ebay, and MicroSoft are already using Node.js to power enterprise applications that are depended upon by millions of users.</p>

    <p>Join in the fun and become a Node.js developer!</p>
  </div>
</div>

{{#extend "footer"}}
  {{> footer}}
{{/extend}}
