

{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


{{#extend "jumbotron"}}
<div id="jumbotron" class="jumbotron <%= page %>">
  <div class="container">
    <h1>Developers</h1>

    <p>Hello hackers!</p>
  </div>
</div>
{{/extend}} 

<div class="col-sm-12">
</div>
{{#extend "footer"}}
  {{> footer}}
{{/extend}}
