

<div class="col-sm-12 col-md-3">
  <div class="sidebar-module sidebar-module-inset">
    <div class="form-group">
      <label for="">{{config.title}}</label>
      <div class="input-group">
        <input type="text" placeholder="Email Address" class="form-control">
        <div class="input-group-btn">
          <button tabindex="-1" class="btn btn-danger" type="button">Send</button>
        </div>
      </div>
      <p class="help-block">Stay informed</p>
    </div>
  </div>
</div>