
<div class="col-sm-12 col-md-3">
  <div class="sidebar-module sidebar-module-inset">
    <form role="form" name="subscription" id="subscription">
      <p class="help-block" id="updatep">Don't miss anything!</p>
      <input type="hidden" name="_csrf" value="{{_csrf}}" />

      <div class="form-group">
        <input type="name" class="form-control" id="name" name="name" placeholder="Your Name" required="">
      </div>

      <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" pattern="[^ @]*@[^ @]*" required="">
      </div>

      <button type="submit" id="subscribe-btn" class="btn btn-danger btn-block" data-loading-text="Processing...">
        Subscribe
      </button>
    </form>
  </div>
</div>