


<div class="panel panel-success">
  <div class="panel-heading">
    {{config.title}}
  </div>
  <div class="panel-body">
    <ul class="list-unstyled styled-lists">
      {{#if collection}}
        {{#each collection}}
          <li>
            <a href="/events/{{slug}}">
              {{title}}
            </a>
          </li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
</div>
