
<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li class="active">
    <a href="/admin/events"><span class="glyphicon glyphicon-calendar"></span> Events</a>
  </li>
  <li>
    <a href="/admin/events"><span class="glyphicon glyphicon-user"></span> Members</a>
  </li>
  <li>
    <a href="/admin/events"><span class="glyphicon glyphicon-cog"></span> Settings</a>
  </li>
</ul>

<div class="container-fluid">
  <div class="row">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button> 
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-check"></span> Publish
      </button> 
      <button type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </div>
  </div>
  <br>

  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            <input type="checkbox" id="selectall">
          </th>
          <th>
            Title
          </th>
          <th>
            City
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>

      <tbody>
        <%
        if(myEvents.length > 0) {
          myEvents.forEach(function (myEvent) {
        %>
          <tr>
            <td>
              <input type="checkbox" name="id" value="<%= myEvent.get('id') %>">
            </td>
            <td>
              <a href="#"><%= myEvent.get('title') %></a>
            </td>
            <td>
              <a href="#"><%= myEvent.get('city') %></a>
            </td>
            <td>
              <a href="#"><%= myEvent.parseDate('DD-MM-YYYY') %></a>
            </td>
          </tr>
        <%
          });
        }
        %>
      </tbody>
    </table>
  </div>

  <% include ../partials/pagination %>

</div>