
<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li class="active">
    <a href="/admin/events"><span class="glyphicon glyphicon-list-alt"></span> Posts</a>
  </li>
  <li>
    <a href="/admin/events"><span class="glyphicon glyphicon-th-list"></span> Categories</a>
  </li>
  <li>
    <a href="/admin/events"><span class="glyphicon glyphicon-cog"></span> Settings</a>
  </li>
</ul>

<div class="container-fluid">

  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <%
        if(posts.length > 0) {
          posts.forEach(function (post) {
        %>
          <tr>
            <td>
              <a href="#"><%= post.get('title') %></a>
            </td>
            <td style="text-align:center">
              <a href="#" title="Edit">
                <span class="glyphicon glyphicon-pencil"></span>
              </a> 
            </td>
            <td style="text-align:center">
              <a href="#"  title="Publish">
                <span class="glyphicon glyphicon-check"></span>
              </a> 
            </td>
            <td style="text-align:center">
              <a href="#" title="Delete">
                <span class="glyphicon glyphicon-trash"></span> 
              </a> 
            </td>
          </tr>
        <%
          });
        }
        %>
      </tbody>
    </table>
  </div>

  <% include ../partials/pagination %>

</div>