
<!--
<h1 class="blog-post-title" style="margin-bottom: 15px;">
  Blog
</h1>-->

<div class="container-fluid">
  <div class="row">
    <ul class="list-inline">
      <li class="pull-right">
        <a href="/admin/blog/new" class="btn btn-danger">
          <span class="glyphicon glyphicon-list-alt"></span> Create A New Post
        </a>
      </li>
    </ul>
  </div>
</div>
