


{{#if post}}
  <div class="container-fluid"> 
    <div class="row">  
      <h2 class="blog-post-title">
        {{post.title}}
      </h2>

      <p class="blog-post-meta">
        {{post.publishingDate}} by 
        <a href="/users/{{author.id}}">{{author.name}}</a>
        | 
        <span class="glyphicon glyphicon-tag"></span>
        {{#each tags}}
          <a href="/blog/tags/{{tag.slug}}">{{tag.name}}</a> 
        {{/each}}
      </p>

      {{{post.html}}}

    </div>
  </div>
{{/if}}
