


{{#ifCond user.role.name '==' 'Super Administrator'}}
  <div class="panel panel-default">
    <div class="panel-heading">
      Super Administrator
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="glyphicon glyphicon-user"></span> <a href="/account/users">Users</a>
      </li>
    </ul>
  </div>
{{/ifCond}}