

{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


<div class="col-sm-12 blog-main">

  {{> flash}}

  <div class="panel panel-default">
  
    <div class="panel-heading">
      <span class="glyphicon glyphicon-align-justify"></span> New Category
      <a href="/account/blog/categories" class="close pull-right text-danger">&times;</a>
    </div>
  
    <div class="panel-body">
    <form class="form-horizontal" id="category-form" action="/category/new" method="POST">
      <input type="hidden" name="_csrf" value="{{_csrf}}" />
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="name">
          Name <span class="text-danger">*</span>
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="name" id="name" required="" autofocus />
        </div>
      </div>
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="description">
          Description <span class="text-danger">*</span>
        </label>
        <div class="col-sm-7">
          <textarea class="form-control" size="124" rows="2" name="description" id="description" required=""></textarea>
        </div>
      </div>

  
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <button class="btn btn-success" type="submit">
            <i class="fa fa-check"></i> Create Category
          </button>
  
          <a href="/account/blog/categories" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span> Close
          </a>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>


{{#extend "footer"}}
  {{> footer}}
{{/extend}}


{{#extend "scripts"}}
<script src="/js/epiceditor/js/epiceditor.min.js"></script>
<script>
 (function ($) {
  
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
  
      reader.onload = function (e) {
          $('#imagepreview').attr('src', e.target.result).fadeIn();
      }
  
      reader.readAsDataURL(input.files[0]);
    }
  }
  
  var editor = new EpicEditor({
    textarea: 'markdown',
    basePath: '/js/epiceditor',
    theme: {
      base: '/themes/base/epiceditor.css',
      preview: '/themes/preview/github.css',
      editor: '/themes/editor/epic-light.css'
    }
  }).load();
  
  $("#image_url").change(function(){
    readURL(this);
  });
}(jQuery));
</script>
{{/extend}}
